<template>
  <div id="app">
    <div class="ds-section ds-section--space_xs">
      <div class="ds-section__element">
        <container fit="md">
          <row align="baseline">
            <cell cols="auto">
              <div class="ds-caption ds-caption--size_3">Grid plugin</div>
            </cell>
            <cell cols="12 narrow-md">
              <row>
                <cell cols="narrow">
                  <a class="ds-link" href="javascript:void(0)">First link example</a>
                </cell>
                <cell cols="narrow">
                  <a class="ds-link" href="javascript:void(0)">Second one</a>
                </cell>
                <cell cols="narrow">
                  <a class="ds-link" href="javascript:void(0)">Third lint</a>
                </cell>
              </row>
            </cell>
          </row>
        </container>
      </div>
      <div class="ds-section__element">
        <container fit="md">
          <div class="ds-aspect-ratio ds-aspect-ratio--ratio_16x9">
            <img src="https://picsum.photos/1600/900" class="ds-aspect-ratio__body">
          </div>
        </container>
      </div>
      <div class="ds-section__element">
        <container fit="md">
          <row>
            <cell cols="12 4-md">
              <div class="ds-panel">
                <div class="ds-panel__element ds-panel__element--offset_vertical">
                  <div class="ds-caption ds-caption--size_4">Feature one</div>
                </div>
                <div class="ds-panel__element ds-panel__element--offset_vertical">
                  <div class="t-content">
                    <p>
                      Duis aute irure dolor in reprehenderit in voluptate velit esse
                      cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <p>
                      Excepteur sint occaecat cupidatat non proident, sunt in culpa
                      qui officia deserunt mollit anim id est laborum.
                    </p>
                  </div>
                </div>
              </div>
            </cell>
            <cell cols="12 4-md">
              <div class="ds-panel">
                <div class="ds-panel__element ds-panel__element--offset_vertical">
                  <div class="ds-caption ds-caption--size_4">Feature two</div>
                </div>
                <div class="ds-panel__element ds-panel__element--offset_vertical">
                  <div class="t-content">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                      do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <p>
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                  </div>
                </div>
              </div>
            </cell>
            <cell cols="12 4-md">
              <div class="ds-panel">
                <div class="ds-panel__element ds-panel__element--offset_vertical">
                  <div class="ds-caption ds-caption--size_4">Feature three</div>
                </div>
                <div class="ds-panel__element ds-panel__element--offset_vertical">
                  <div class="t-content">
                    <p>
                      Duis aute irure dolor in reprehenderit in voluptate velit
                      esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <p>
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco
                      laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                  </div>
                </div>
              </div>
            </cell>
          </row>
        </container>
      </div>
      <div class="ds-section__element">
        <container fit="md">
          <div class="ds-panel">
            <div class="ds-panel__element ds-panel__element--offset_vertical">
            <div class="ds-caption ds-caption--size_2">Content wonderfulis</div>
            </div>
            <div class="ds-panel__element ds-panel__element--offset_vertical">
              <div class="t-content">
                <p>
                  Duis aute irure dolor in reprehenderit in voluptate velit
                  esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <p>
                  Excepteur sint occaecat cupidatat non proident, sunt in culpa
                  qui officia deserunt mollit anim id est laborum.
                </p>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <p>
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </container>
      </div>
    </div>
  </div>
</template>
