<template>
  <component
    v-bind="lProps"
    :is="layoutComponent"
    :tag="tag"
  >
    <template #label v-if="$scopedSlots.label || labelText">
      <slot name="label" :label-text="labelText" v-bind="passedParameters">
        <component :is="labelComponent">{{ labelText }}</component>
      </slot>
    </template>

    <template #hint v-if="$scopedSlots.hint || hintText">
      <slot name="hint" :hint-text="hintText" v-bind="passedParameters">
        <component :is="hintComponent">{{ hintText }}</component>
      </slot>
    </template>

    <template #errors v-if="$scopedSlots.errors || hasErrors">
      <slot name="errors" :errors="errors" v-bind="passedParameters">
        <component
          v-for="(error, i) in errors"
          :is="errorComponent" :key="i"
        >
          {{ error }}
        </component>
      </slot>
    </template>

    <template #element v-if="$scopedSlots.element || element">
      <slot name="element" v-bind="eProps">
        <tag
          :tag="element"
          :disabled="disabled"
          :required="required"
          :readonly="readonly"
          :invalid="hasErrors"
          :value="value"
          :enable-vue-tag-props-fix="true"
          v-bind="$attrs"
          v-on="$listeners"
        >
          <template v-slot:[name]="binded" v-for="(name, key) in eSlots">
            <slot v-bind="binded" :name="key" />
          </template>
        </tag>
      </slot>
    </template>

    <template #meta v-if="$scopedSlots.meta">
      <slot name="meta"
        :label-text="labelText"
        :hint-text="hintText"
        :errors="errors"
        v-bind="passedParameters"
        :value="value"
      />
    </template>
  </component>
</template>

<script>
/* eslint-disable prefer-object-spread */

import { Tag } from '@aspectus/vue-tag';
import { Hint } from '@aspectus/vue-control-hint';
import { Label } from '@aspectus/vue-control-label';
import { withDefaultProps } from '@aspectus/vue-utils';
import Layout from './Layout.vue';

const hintComponent = withDefaultProps({ styling: 'default', variant: 'hint' })(Hint);
const errorComponent = withDefaultProps({ styling: 'default', variant: 'error' })(Hint);
const RESERVED_SLOTS = {
  label: true, hint: true, errors: true, element: true, meta: true,
};
const DESCRIPTOR_ELEMENT_SLOT_PREFIX = 'element-';
const DESCRIPTOR_ELEMENT_SLOT_PREFIX_LENGTH = DESCRIPTOR_ELEMENT_SLOT_PREFIX.length;
const eSlotsResolver = (acc, key) => {
  if (key.startsWith(DESCRIPTOR_ELEMENT_SLOT_PREFIX)) {
    acc[key] = key.slice(DESCRIPTOR_ELEMENT_SLOT_PREFIX_LENGTH);
  } else {
    acc[key] = key;
  }

  return acc;
};
const getESlots = keys => keys
  .filter(key => !RESERVED_SLOTS[key])
  .reduce(eSlotsResolver, {});

export default {
  name: 'control-descriptor',
  inheritAttrs: false,
  components: { Tag },
  props: {
    element: {},
    tag: { default: 'div' },
    labelComponent: { default: () => Label },
    layoutComponent: { default: () => Layout },
    hintComponent: { default: () => hintComponent },
    errorComponent: { default: () => errorComponent },
    layoutProps: Object,
    labelText: String,
    hintText: String,
    disabled: Boolean,
    required: Boolean,
    readonly: Boolean,
    errors: Array,
    // HACK: Tricky hack for vee-validate provider v-model-detection
    value: {},
  },

  computed: {
    hasErrors() {
      return !!(this.errors && this.errors.length);
    },
    passedParameters() {
      return {
        disabled: this.disabled,
        required: this.required,
        readonly: this.readonly,
        invalid: this.hasErrors,
      };
    },
    lProps() {
      return Object.assign({}, this.passedParameters, this.layoutProps || {});
    },
    eProps() {
      return Object.assign({}, this.passedParameters, {
        element: this.element,
        value: this.value,
        attrs: this.$attrs,
        listeners: this.$listeners,
      });
    },
    eSlots() {
      return getESlots(Object.keys(this.$scopedSlots));
    },
  },
};

</script>
