@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,400&display=swap')

.vuepress-plugin-demo-block__app
  @import '@dermis/dermis'

  th, td
    border: none

  @at-root .theme-default-content:not(.custom) & a:hover
    text-decoration: none

body
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif

.theme-default-content pre,
.theme-default-content pre[class*="language-"],
div[class*="language-"],
.vuepress-plugin-demo-block__wrapper,
.home .hero .action-button
  border-radius: 0 !important

.vuepress-plugin-demo-block__wrapper:hover
  box-shadow: none
