<template>
<tag :class="[block(modifiers), state(states)]" v-bind="$attrs" v-on="$listeners">
  <input :class="block('input')" ref="input" type="file" :multiple="multiple">
  <div :class="block('body')" ref="body">
    <slot :open="open" :block="block" />

    <slot v-if="dragging" name="cover" />
  </div>
</tag>
</template>

<script>
import { Dropzone } from '@aspectus/dropzone';
import { createBlockGenerator, createStateGenerator } from '@aspectus/bem';
import { StylingMixin } from '@aspectus/vue-bem-styling';

const name = 'vue-dropzone';

/**
 * File upload trigger component.
 *
 * @author [Alex Tkachenko](https://github.com/preusx)
 */
export default {
  name,
  mixins: [StylingMixin],

  props: {
    blockName: {
      type: String,
      default: name,
    },
    multiple: {
      type: Boolean,
      default: false,
    },
    config: Object,
  },

  data() {
    this.dropzone = new Dropzone();
    this.configure();

    return {
      dragging: false,
    };
  },

  watch: {
    config: { handler: 'configure' },
  },

  computed: {
    block() {
      return createBlockGenerator()(this.blockName);
    },
  },

  mounted() {
    this.dropzone.bind([this.$refs.body], [this.$refs.input]);

    this.dropzone.emitter.on('drag-start', this.dragStart);
    this.dropzone.emitter.on('drag-stop', this.dragStop);
    this.dropzone.emitter.on('drop', this.drop);
  },

  destroyed() {
    this.dropzone.unbind();
  },

  methods: {
    /**
     * Opens file upload dialog.
     * @public
     */
    open() {
      this.$refs.input.click();
    },

    dragStart() {
      this.dragging = true;
    },

    dragStop() {
      this.dragging = false;
    },

    drop(event) {
      this.$emit('drop', event);
    },

    configure(config = this.config) {
      this.dropzone.configure(config);
    },

    state: createStateGenerator(),
  },
};
</script>
